{% extends 'myproject/base.html' %}

{% block title %}Inicio de Sesion{% endblock %}

{% block content %}
<h3>Inicio de Sesion</h3>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    El usuario o la contrasena no coincide. Por favor intenta otra vez
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}



<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <p><label for="id_username">Nombre de usuario:</label> <input type="text" name="username" autofocus required
            id="id_username" class="form-control"></p>
    <p><label for="id_password">Contraseña:</label> <input type="password" name="password" required id="id_password"
            class="form-control">
    </p>
    <button type="submit" class="btn btn-success">Guardar</button>
    </div>
</form>
{% endblock %}






















{% comment %}

{% endcomment %}