<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sistema de Administracion{% endblock %}</title>

    <link rel="shortcut icon" type="image/png " href="{% static 'favicon.ico' %}">

    <!-- Bootstrap y Jquery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <!-- Datepicker -->
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {% block head %}
        
    {% endblock head%}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown {% if request.path == '/recursos_humanos/' %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="{% url 'recursos_humanos' %}" id="navbarDropdown"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Recursos Humanos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'recursos_humanos_empleados' %}">Empleados</a>
                        <a class="dropdown-item" href="{% url 'recursos_humanos_departamentos' %}">Departamentos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'recursos_humanos' %}">Ir a Recursos Humanos</a>
                    </div>
                </li>
                <li class="nav-item {% if request.path == '/campo_pruebas/' %}active{% endif %}">
                    <a class="nav-link" href="/campo_pruebas/">Campo de Pruebas <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>

            {% if user.is_authenticated %}
            {% comment %}
            Usuario Actual: {{ user.username }}
            {% endcomment %}

            <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'logout' %}">Cerrar Sesion</a>
            {% else %}
            <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'login' %}">Iniciar Sesion</a>
            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'signup' %}">Registrarse</a>
            {% endif %}

        </div>
    </nav>


    <div class="container" style="margin-top: 1%; margin-bottom: 1%">
        {% block content %}
        {% endblock %}
    </div>

    {% comment %}
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/datatables.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    {% endcomment %}
    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>