{% extends 'myproject/base.html' %}


<title>{% block title %}Campo de Pruebas{% endblock %}</title>

{% block content %}

<h3>Campo de Pruebas</h3>

<p>El proposito de esta pagina es Probar Modales</p>

<!-- Boton Modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#modal1">
    Lanzar Modal Registro Nuevo Empleado
</button>

<!-- Modal1 -->

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dar de Alta nuevo Empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" name="csrfmiddlewaretoken"
                            value="c3FWFyBP0vfzjUPAoVuJqm9ej1kPS6ZbxXn0vcKmpgh3pxrFXhBQSns8RHoWiBq0">
                        <p><label for="id_nombre">Nombre:</label> <input type="text" name="nombre" class="form-control"
                                placeholder="Nombre" maxlength="200" required id="id_nombre"></p>
                        <p><label for="id_apellido">Apellido:</label> <input type="text" name="apellido"
                                class="form-control" placeholder="Apellido" maxlength="200" required id="id_apellido">
                        </p>
                        <p><label for="id_salario_mensual">Salario mensual:</label> <input type="text"
                                name="salario_mensual" class="form-control" placeholder="Salario Mensual" required
                                id="id_salario_mensual"></p>
                        <p><label for="id_direccion">Direccion:</label> <input type="text" name="direccion"
                                class="form-control" placeholder="Direccion" maxlength="200" required id="id_direccion">
                        </p>
                        <p><label for="id_departamento">Departamento:</label> <select name="departamento"
                                class="form-control" required id="id_departamento">
                                <option value="" selected>---------</option>

                                <option value="1">Desarrollo Web</option>

                                <option value="2">Contabilidad</option>

                                <option value="6">Finanzas</option>

                            </select></p>
                        <p><label for="id_escolaridad">Escolaridad:</label> <select name="escolaridad"
                                class="form-control" required id="id_escolaridad">
                                <option value="" selected>---------</option>

                                <option value="Primaria">Primaria</option>

                                <option value="Secundaria">Secundaria</option>

                                <option value="Preparatoria">Preparatoria</option>

                                <option value="Licenciatura Terminada">Licenciatura Trunca</option>

                                <option value="Licenciatura Trunca">Licenciatura terminada</option>

                            </select></p>
                        <p><label for="id_nacimiento">Nacimiento:</label> <input type="text" name="nacimiento"
                                class="form-control" autocomplete="off" required id="id_nacimiento"></p>
                        <p><label for="id_imagen_perfil">Imagen perfil:</label> <input type="file" name="imagen_perfil"
                                accept="image/*" id="id_imagen_perfil"></p>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Boton Modal2 -->
<button class="btn btn-primary" data-toggle="modal" data-target="#modal2">
    Lanzar Modal: Registrar nuevo Departamento
</button>

<!-- Modal1 -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar nuevo departamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" name="csrfmiddlewaretoken"
                            value="ndZBflhR1Il3JWOeQPLIsiUdy7RAbgupI7HF5ZqoqtnxPzqjpbSPUjd76NVHBLVe">
                        <p><label for="id_nombre_departamento">Nombre departamento:</label> <input type="text"
                                name="nombre_departamento" class="form-control" placeholder="Ejemplo: Contabilidad"
                                maxlength="200" required id="id_nombre_departamento"></p>
                        <p><label for="id_descripcion_departamento">Descripcion departamento:</label> <textarea
                                name="descripcion_departamento" cols="40" rows="4" class="form-control" required
                                id="id_descripcion_departamento">
                      </textarea></p>
                        <p><label for="id_activo">Departamento Activo:</label> <input type="checkbox" name="activo"
                                id="id_activo" checked></p>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}