{% extends 'myproject/base.html' %}


<title>{% block title %}Sistema de Administracion{% endblock %}</title>

{% block content %}

        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempor hendrerit neque ut pretium. Maecenas
            elementum mauris nec lacus tincidunt pharetra. Sed sodales augue nec purus suscipit posuere. Sed tristique
            nisl ac posuere eleifend. Aliquam tincidunt ipsum a augue sollicitudin, non placerat augue porta. Vestibulum
            viverra sodales odio, mattis tempor mi. Morbi ut tristique sem. Etiam volutpat dignissim bibendum. Cras
            cursus viverra massa, vitae convallis ex condimentum ac. Vestibulum efficitur metus vitae porta sagittis.
        </p>

        <img src="https://via.placeholder.com/1110x768?text=Imagen+home+Prueba" class="img-fluid"
            alt="Esta Imagen Hace referencia a un Grupo de Empleados">

{% endblock %}