{% extends 'myproject/base.html' %}

{% block title %}Registrarse{% endblock %}

{% block content %}
<h2>Registrarse</h2>


{% if form.errors %}
<div class="alert alert-danger" role="alert">
    El usuario o la contrasena no cumple con los requisitos
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<form method="post">
    <div class="form-group">
        {% csrf_token %}
        <tr>
            <th><label for="id_username">Nombre de usuario:</label></th>
            <td><input type="text" name="username" maxlength="150" autofocus required id="id_username" class="form-control"><br><span
                    class="helptext" >Obligatorio. Longitud máxima 150 caracteres alfanuméricos. Letras, dígitos y
                    @/./+/-/_
                    únicamente.</span></td>
        </tr>
        <tr>
            <th><label for="id_password1">Contraseña:</label></th>
            <td><input type="password" name="password1" required id="id_password1" class="form-control"><br><span class="helptext">
                    <ul>
                        <li>Su contraseña no puede ser similar a su otra información personal.</li>
                        <li>Su contraseña es muy corta. Debe contener al menos 8 caracteres.</li>
                        <li>Su contraseña no puede ser una contraseña común.</li>
                        <li>Su contraseña no puede ser enteramente numérica.</li>
                    </ul>
                </span></td>
        </tr>
        <tr>
            <th><label for="id_password2">Confirmación de contraseña:</label></th>
            <td><input type="password" name="password2" required id="id_password2" class="form-control"><br><span class="helptext">Para
                    verificar, introduzca la misma contraseña que introdujo antes.</span></td>
        </tr>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
</form>
{% endblock %}





{% comment %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Sign up</button>
</form>
{% endcomment %}