{% extends 'myproject/base.html' %}

{% load static %}

{% block content %}

<!-- <a class="btn btn-primary btn-lg" href="{% url 'empleado_new' %}">Registrar Nuevo Empleado</a> -->

<h3>Empleados con baja laboral</h3>

<a class="btn btn-primary btn-lg" href="{% url 'recursos_humanos_empleados' %}">Ver Empleados Activos</a>
<table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Nombre
      </th>
      <th class="th-sm">Apellido
      </th>
      <th class="th-sm">Direccion
      </th>
      <th class="th-sm">Nacimiento
      </th>
      <th class="th-sm">Salario Mensual
      </th>
      <th class="th-sm">Activar
      </th>
      <th class="th-sm">Editar
      </th>
      <th class="th-sm">Activo
      </th>
    </tr>
  </thead>
  <tbody>
    {% for empleado in empleados %}
    <tr>
      <td>{{empleado.nombre}}</td>
      <td>{{empleado.apellido}}</td>
      <td>{{empleado.direccion}}</td>
      <td>{{empleado.nacimiento}}</td>
      <td>{{empleado.salario_mensual}}</td>
      <td><a class="btn btn-primary" href="{% url 'empleado_delete' empleado.id %}"
      onclick="return confirm('Seguro que quieres reactivar')">Activar</a></td>
      <td><a class="btn btn-success"href="{% url 'empleado_edit' empleado.id %}">Editar</a></td>
      <td>{{empleado.activo}}</td>
    </tr>
    {% endfor %}
    <p>
    </p>
  </tbody>
</table>
{% endblock %}