{% extends 'myproject/base.html' %}
{% load static %}
asd
<title>{% block title %}Sistema de Administracion - Empleados{% endblock %}</title>

{% block head %}
{% endblock head %}

{% block content %}
<h3>Empleados activos</h3>
<a class="btn btn-primary btn-lg" href="{% url 'empleado_new' %}">Nuevo Empleado</a>
<a class="btn btn-danger btn-lg" href="{% url 'recursos_humanos_empleados_baja' %}">Ver Empleados Dados de Baja</a>
<hr>
<table id="DataTable_Recursos_Humanos" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Nacimiento</th>
            <th>Salario Mensual</th>
            <th></th>
        </tr>
    </thead>
</table>
<!-- # De Momento no esta funcionando subir imagenes directamente desde el formulario, por eso siempre sube la imagen default
 -->
{% comment %}
<th>Dar de Baja</th>
<th>Editar Datos</th>
<th>Foto Perfil</th>
<td><a class="btn btn-danger" href="{% url 'empleado_delete' empleado.id %}" onclick="return confirm('Seguro que quieres dar este Empleado de Baja')">Inactivar</a></td>
<td><a class="btn btn-success" href="{% url 'empleado_edit' empleado.id %}">Editar</a></td>
<td><img heigh="95%" width="95%" src="{{empleado.imagen_perfil.url}}" alt="{{empleado.nombre}}"></td>
{% endcomment %}
<script src="{% static 'recursos_humanos/js/recursos_humanos_table.js' %}"></script>
<script>
$(document).ready(function() {
    myFunction = new MyFunction()
    var config = {
        'url': 'http://127.0.0.1:8000/recursos_humanos/empleados_api/',
        'url_recursos_humanos_edit_empleado': '{% url "empleado_edit" %}',
        'url_recursos_humanos_delete_empleado': '{% url "empleado_delete" %}',
    };
    myFunction.init(config)
});
</script>
{% endblock %}