{% extends 'myproject/base.html' %}

{% load static %}

{% block content %}

<h2 style="margin-top: 1%; ">Editar Empleado Existente</h2>


<form method="post" enctype="multipart/form-data">
  <div class="form-group">

    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Guardar</button>
  </div>

</form>
{% endblock %}