{% extends 'myproject/base.html' %}

{% block title %}Sistema de Administracion - Recursos Humanos{% endblock %}


{% block content %}

<h2>Administracion de Recursos Humanos</h2>


<a class="nav-link active" href="{% url 'recursos_humanos_empleados' %}">Empleados</a>
<a class="nav-link" href="{% url 'recursos_humanos_departamentos' %}">Departamentos</a>

{% endblock %}