{% extends 'myproject/base.html' %}

{% load static %}

{% block content %}

<h2>Departamentos</h2>
<a class="btn btn-primary btn-lg" href="{% url 'departamento_new' %}">Registrar Nuevo Empleado</a>

<hr>

<table id="DataTable_Recursos_Humanos" class="table table-striped" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Id
      </th>
      <th class="th-sm">Nombre
      </th>
      <th class="th-sm">Descripcion
      </th>
      <th class="th-sm">Editar</th>
    </tr>
  </thead>
  <tbody>
    {% for departamento in departamentos %}
    <tr>
      <td>{{departamento.id}}</td>
      <td>{{departamento.nombre_departamento}}</td>
      <td>{{departamento.descripcion_departamento}}</td>
      <td><a class="btn btn-success" href="{% url 'departamento_edit' departamento.id %}">Editar</a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}